*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */

.nav-wrapper{
    background-color:rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
}

.nav-wrapper a{
    color: rgb(255, 166, 0)
}

.sidenav{
    background-color: rgb(228, 228, 228);
}

.active-nav-link{
    background-color: rgb(255, 245, 235);
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-color: orange;
    border-right-color: orange;
    border-right-style: solid;
    border-left-style: solid;
}

.active-mobile-nav-link{
    background-color: rgb(196, 196, 196);
    border-left-color: orange;
    border-right-color: orange;
    border-right-style: solid;
    border-left-style: solid;
}

/* Buttons */
.tell-me-more-btn,
.view-work-btn,
.about-btn,
.contact-form-btn{
    background-color: transparent;
    border-color: orange;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 15px;
}

.view-work-btn,
.about-btn,
.contact-form-btn{
    color: orange;
}

.about-btn{
    margin-bottom: 50px;
}

.tell-me-more-btn:visited,
.tell-me-more-btn:focus,
.view-work-btn:visited,
.view-work-btn:focus,
.about-btn:visited,
.about-btn:focus,
.contact-form-btn:visited,
.contact-form-btn:focus{
    background-color: transparent;
}

.tell-me-more-btn:hover{
    background-color: rgba(255, 249, 249, 0.1);
}

.view-work-btn:hover,
.about-btn:hover,
.contact-form-btn:hover{
    background-color: rgba(255, 245, 239, 0.7);
}

/* Home */


#header{
    background-image: linear-gradient(rgba(2, 0, 21),rgba(2, 0, 21,.1)), url(img/desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#header h3{
    padding-top: 150px;
    margin:0;
}

@media only screen and (max-width: 810px){
    #header{
        height: 470px
    }
}

@media only screen and (max-width: 720px){
    #header h3{
        font-size: 30px;
    }
    #header h5{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    #header{
        height: 390px
    }
    #header h3{
        font-size: 25px;
    }
    #header h5{
        font-size: 17px;
    }
}

@media only screen and (max-width: 554px){
    #header h3{
        font-size: 22px;
    }
    #header h5{
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px){
    #header h3{
        font-size: 18px;
    }
    #header h5{
        font-size: 13px;
    }
}

/* TypesOfWork */

@media only screen and (max-width: 995px){
    #typesOfWork-middle-text{
        text-align: left;
    }
}

/* WordsToDescribe */
#words-to-describe{
    margin-top: 50px;
    border-top-color: rgb(223, 223, 223);
    border-bottom-color:rgb(223, 223, 223);
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 252, 249);
    color: rgb(124, 124, 124);
}

/* Testimonials */

#testimonials{
    background-image: linear-gradient(rgba(0, 0, 0),rgba(61, 50, 141, 0.5), rgba(255, 136, 0, 0.5),rgba(61, 50, 141, 0.5),rgba(0, 0, 0)), url(img/earth.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed; 
    font-size: 20px;
}

#testimonials .row{
    padding-top: 50px;
}

#testimonials .col{
    padding-left: 50px;
    padding-right: 50px;
}

blockquote{
    padding-left: 3%;
    padding-right: 3%;
    font-style: oblique; /*can only do this since I included the italic style for google fonts*/
    line-height: 145%;
    position: relative; /*important because the quotation is positioned absolutely so the parent element needs to be positioned relatively*/
    border-left: 0px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

/* Contact */

input:focus{
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}

textarea:focus{
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}

label.active {
    color: black !important;
}

.input-field .prefix.active {
    color: #000;
}
